<!DOCTYPE html>
  <html lang="en"> 
  <head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/dist/styles.css">

  </head>
  <body>
  </body>
  {{{body}}}      
  <script src="/dist/bundle.js"></script>
</html>
