<!DOCTYPE html>
  <html lang="en"> 
  <head>
    <title>{{title}}</title>
    <!-- Vendors: Plain usage of bower_components from /vendor -->
    <script src="/vendor/riot/riot.js"></script>      
    <script src="/vendor/rxjs/dist/rx.lite.js"></script>  
    <script src="/vendor/jquery/dist/jquery.js"></script>  
    <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>      
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css" />    
    <!-- App style -->
    <link rel="stylesheet" href="/dist/styles.css" />
  </head>
  <body>
  </body>
  {{{body}}}      
  <!-- App bundle -->
  <script src="/dist/bundle.js"></script>  
</html>
